extends layout
block head
  script(src="/socket.io/socket.io.js")
  script(src="/js/socket.js")
  script(src="/js/leaderboard.js")
  link(rel='stylesheet', href='/css/progress.css')

block content
  div.row
    div.col-6
      h3 Game ID: #{gameid}
      p.lead Go to phunt.jonathanysp.com/login on your phone to join!
    div.col-6
      img.pull-right(src=dataurl)
  div(id="progressBars")
  table.table(id="table", border = "2")
    thead
      tr(id="headingRow")
        th TASKS
    tbody
      each task in g.tasks
        tr(class="taskRow")
          td #{task}
  script.
    addLeaderboardEvents();
    register(#{"'" + gameid + "'"}, null);
    getInfo(#{"'" + gameid + "'"});